@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');

:root {
  font-family: 'Cutive Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #121212;
  overflow: hidden;
}
main {
  background-color: #242424;
  position: relative;
  z-index: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#navWork, #navAbout, #navBlog {
  height: 40vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
}

.navLinkContainer {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#navAboutLinks, #navBlogLinks {
  justify-content: space-around;
}

.para {
  width: clamp(45ch, 50%, 75ch);
}

.para p {
  font-size: 1rem;
}

#socials {
  display: flex;
  align-items: end;
  gap: 1rem;
}

body[data-curtain="true"] .navLinkContainer {
  transform: translateY(0%) scale(1);
}

h2 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  font-size: 2em;
  margin: 0;
}

.nav-link > img {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  margin-top: .75em;
  object-fit: cover;
  object-position: 0 0;
}

.nav-link {
  opacity: 80%;
}

.nav-link:hover {
  cursor: pointer;
  opacity: 100%;
}

.social {
  width: 2rem;
  height: 2rem;
}

.social:hover {
  opacity: 70%;
}

form {
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  width: clamp(45ch, 30vw, 75ch);
  gap: 1rem;
}

input {
  padding-left: 1ch;
}

textarea {
  padding-left: 1ch;
  height: 8rem;
}

button {
  height: 1rem;
  width: 4rem;
  z-index: 3;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.87);

  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

button:hover {
  transform: scale(1.15);
}

button:active {
  transform: scale(0.95);
}
#navButts {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  bottom: 5%;
}

#navButts i {
  font-family: 'Cutive Mono', monospace;
  position: absolute;
  font-size: 2em;
  transform: translate(-50%);
  opacity: 0;
  transition: 500ms;
  transition-timing-function: ease;
}

#closeButt {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  display: none;
}

.workPara {
  position: absolute;
  top: 20vh;
  left: 20%;
  z-index: -1;
  width: clamp(45ch, 30vw, 75ch);
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


body[data-curtain="false"] #navButts:hover .open {
  opacity: 1;
  transform: translate(-50%, -120%);
}

body[data-curtain="true"] #closeButt {
  display: initial;
}

body[data-curtain="true"] #navButts .close {
  opacity: 1;
  transform: translate(-50%, -120%);
}

body[data-curtain="true"] .hiddenClose {
  opacity: 0;
  transition: 500ms;
  transition-timing-function: ease;
}
body[data-curtain="true"] main {
  transform: translateY(-50%);
}

body[data-content="true"] main {
  transform: translateY(-90%);
}

body[data-content="true"] #workOneImg {
  transform: translate(20vw, -30vh) scale(2);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body[data-content="true"] #workOnePara {
  transform: translate(38vw, -57vh);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* splash letter magic */

.orange {
  color: #ff8800;
}

#center_text {
  font-size: 5rem;
  width: 35rem;
}

.line {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  margin: 0;
}

.letter:hover {
  opacity: 22%;
  transition-duration: 0ms;
  cursor: pointer;
}

.letter {
  opacity: 100%;
  transition-duration: 1s;
}

.looseLetter {
  position: absolute;
  font-size: 5rem;
}

@keyframes upLeft {
  to { transform: translate(30%, -30%); }
}

@keyframes downLeft {
  from{ transform: translate(30%, -30%); }
  to { transform: translate(400%, 75vh); }
}

.moveUpLeft {
  animation-name: upLeft;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.moveDownLeft {
  animation-name: downLeft;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes upRight {
  to { transform: translate(-30%, -30%); }
}

@keyframes downRight {
  from{ transform: translate(-30%, -30%); }
  to { transform: translate(-400%, 75vh); }
}

.moveUpRight {
  animation-name: upRight;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.moveDownRight{
  animation-name: downRight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.visible {
  opacity: 100% !important;
  z-index: 1 !important;
}

.visibleBehind {
  opacity: 100% !important;
}

.hide {
  opacity: 20%; 
  z-index: 0 !important;
  transform: translateY(50%) scale(.7);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
